.ofert {
    padding-top: 40px;
    height: 70px;
}

.title {
    background-color: rgb(211, 96, 96);
    color: white;
    height: 70px;
}

.precio {
    color: red;
}

.precio_cat {
    color: red;
    font-size: 25px;
}

#parla:hover {
    background: url(../img/blue.jpg);
}

.img_tec {
    margin: 5px;
    border: 3px solid coral;
}

.mn {
    background-color: rgb(237, 121, 100);
}

.crd {
    border-color: rgb(24, 23, 23);
}

li {
    text-align: justify;
}

.clr {
    background-color: rgb(226, 94, 94);
}

footer {
    background-color: rgb(192, 189, 189);
    height: 60%;
    padding: 15px;
}

.main1 {
    display: flex;
    margin: 0 auto;
}


.navbar-brand{
list-style-type:none;
width:97px;
height:82px;
margin-left:5%;
background-image:url("../img/doble.png");
float:left;
display:inline-block;
}


#nav-a{
background-color:purple;
transition:top 1s;
}

#nav-a:hover{
background-color:gray;

}
#nav-a:hover > .navbar-brand{
background-position:-98px 0px;

footer #mapa {
    width: 100%;
    height: 180%;

}